{% extends 'base.html' %}

{%block content%}
    <h2>Employee Code : {{employee.emp_code}}</h2>
    <h2>Name : {{employee.fullname}}</h2>
    <h2>Mobile : {{employee.mobile}}</h2>
    <h2>Position : {{employee.position}}</h2>
    <button><a style="color:black;font-weight: bold;text-decoration: none;" href="{%url 'employee_list'%}">Back</a></button>
    <button style="background-color: grey;"><a style="color:white;font-weight: bold;text-decoration: none;" href="{%url 'employee_edit' employee.id%}">Edit</a></button>
    <button style="background-color: red;"><a style="color:white;font-weight: bold;text-decoration: none;" href="{%url 'employee_delete' employee.id%}">Delete</a></button>
    
{%endblock content%}

